# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_ERGO_S1_OE_LEFT
    def_bool $(shields_list_contains,ergo_s1_oe_left)

config SHIELD_ERGO_S1_OE_RIGHT
    def_bool $(shields_list_contains,ergo_s1_oe_right)

config SHIELD_ERGO_S1_OE_DONGLE_PRO_MICRO
    def_bool $(shields_list_contains,ergo_s1_oe_dongle_pro_micro)
